body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    margin-left: 545px;
    
}

p#tone {
    margin: auto;
    text-align: center;
    position: relative;
}


img#mone {
    margin-top: -10px;
    margin-left: 280px;
    margin-right: auto;    
    display: block; 
    width: 750px;
    height: 350px; 
}

p {
    color: antiquewhite;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p#shanks {
    color: blueviolet;
}

button#luffy{
    width: 70px; /* Define a largura do botão */
    height: 70px; /* Define a altura do botão */
    background-image: url('https://pm1.aminoapps.com/6618/8aeb0fc0f33c9faf2bb51b8d43dd2f52a6b6bb82_00.jpg'); /* Adiciona a imagem de fundo */
    background-size: 2.20cm; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-color: transparent; /* Torna o fundo transparente para que a imagem seja visível */
    border: none; /* Remove a borda do botão */
    text-align: center; /* Alinha o texto ao centro */
    display: inline-block; /* Define o elemento como um bloco que respeita o tamanho do conteúdo */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse sobre o botão */
    border-radius: 50%; /* Transforma o botão em um círculo */
    background-position: center; 
    position: relative;
    margin-right: 0px;
    margin-left: 500px;
}

button#Shanks{
    width: 70px; /* Define a largura do botão */
    height: 70px; /* Define a altura do botão */
    background-image: url('https://i.pinimg.com/originals/04/95/15/0495156dd28b70cde8928b18e6c4dbfe.png'); /* Adiciona a imagem de fundo */
    background-size: 1.90cm; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-color: transparent; /* Torna o fundo transparente para que a imagem seja visível */
    border: none; /* Remove a borda do botão */
    text-align: center; /* Alinha o texto ao centro */
    display: inline-block; /* Define o elemento como um bloco que respeita o tamanho do conteúdo */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse sobre o botão */
    border-radius: 50%; /* Transforma o botão em um círculo */
    background-position: center; 
    position: relative;
    margin-right: opx;
    margin-left: auto;
}

button#Buggy{
    width: 70px; /* Define a largura do botão */
    height: 70px; /* Define a altura do botão */
    background-image: url('https://i.pinimg.com/originals/6e/fd/25/6efd25bd70e9002ecc7fa7f94bbda466.png'); /* Adiciona a imagem de fundo */
    background-size: 2.30cm; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-color: transparent; /* Torna o fundo transparente para que a imagem seja visível */
    border: none; /* Remove a borda do botão */
    text-align: center; /* Alinha o texto ao centro */
    display: inline-block; /* Define o elemento como um bloco que respeita o tamanho do conteúdo */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse sobre o botão */
    border-radius: 50%; /* Transforma o botão em um círculo */
    background-position: center; 
    position: relative;
    margin-right: 0px;
    margin-left: auto;
}

button#Barbanegra{
    width: 70px; /* Define a largura do botão */
    height: 70px; /* Define a altura do botão */
    background-image: url('https://dendenmushibr.wordpress.com/wp-content/uploads/2017/10/1-jolly-roger.jpg'); /* Adiciona a imagem de fundo */
    background-size: 2.90cm; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-color: transparent; /* Torna o fundo transparente para que a imagem seja visível */
    border: none; /* Remove a borda do botão */
    text-align: center; /* Alinha o texto ao centro */
    display: inline-block; /* Define o elemento como um bloco que respeita o tamanho do conteúdo */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse sobre o botão */
    border-radius: 50%; /* Transforma o botão em um círculo */
    background-position: center; 
    position: relative;
    margin-right: 0px;
    margin-left: auto;
}

button#inicio {
    width: 50px; /* Define a largura do botão */
    height: 50px; /* Define a altura do botão */
    background-size: 2cm; /* Ajusta o tamanho da imagem para cobrir todo o botão */
    background-color: rgb(0, 0, 0); /* Torna o fundo transparente para que a imagem seja visível */
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none; /* Remove a borda do botão */
    text-align: center; /* Alinha o texto ao centro */
    display: inline-block; /* Define o elemento como um bloco que respeita o tamanho do conteúdo */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse sobre o botão */
    border-radius: 50%; /* Transforma o botão em um círculo */
    background-position: center; 
    position: relative;
    margin-right: 0px;
    margin-left: 622px;
}



