body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

p#tone {
    max-width: 90%;
    text-align: center;
}

img#mone {
    width: 90%;
    max-width: 750px;
    height: auto;
    margin-top: 20px;
}

div {
    text-align: center;
    margin-top: 20px;
}

button {
    width: 50px;
    height: 50px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

button#luffy {
    background-image: url('/Img/imig-icone-luffy.jpg');
}

button#Shanks {
    background-image: url('/Img/img-icone-shanks.png');
}

button#Buggy {
    background-image: url('/Img/img-icone-buggy.png');
}

button#Barbanegra {
    background-image: url('/Img/img-icone-bb.jpg');
}

button#inicio {
    width: auto;
    height: auto;
    padding: 10px 20px;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border: 1px solid white;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    p#tone {
        font-size: 1em;
    }

    img#mone {
        width: 100%;
    }

    button {
        width: 40px;
        height: 40px;
    }

    button#inicio {
        font-size: 0.8em;
        padding: 5px 10px;
    }
}
